<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/blog/bs/css/bootstrap.css">
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/blog/bs/js/bootstrap.js"></script>

    <style>
        #user_icon{
            font-size: 18px;
            margin-right: 10px;
            vertical-align: -3px;
        }

        .pub_info{
            margin-top: 10px;
        }

        .pub_info .glyphicon-comment{
            vertical-align: -1px;
        }
        .pub_info .glyphicon-thumbs-up{
            vertical-align: -1px;
        }
    </style>
</head>
<body>
<!--导航栏-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">李大志的博客园</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">随笔 <span class="sr-only">(current)</span></a></li>
        <li><a href="#">博文</a></li>
        <li><a href="#">新闻</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">

        {% if request.user.is_authenticated %}
          <li><a href="#"><span id="user_icon" class="glyphicon glyphicon-user"></span>{{ request.user.username }}</a></li>
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">修改密码</a></li>
                    <li><a href="/logout/">退出登陆</a></li>
                    <li><a href="#">更换头像</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </li>
        {% else %}
          <li><a href="/login/">登录</a></li>
          <li><a href="/register/">注册</a></li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!--页面中间部分，分左、中、右三部分-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <!-- 面板公告 -->
            <div class="panel panel-warning">
                <div class="panel-heading">Panel heading without title</div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
            <!--面板信息-->
            <div class="panel panel-info">
                <div class="panel-heading">Panel heading without title</div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
            <!--面板警示-->
            <div class="panel panel-danger">
                <div class="panel-heading">Panel heading without title</div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>

        </div>
        <!--中间面板-->
        <div class="col-md-6">
            <div class="article_list">
                {% for article in article_list %}
                <div class="article-item">
                    <h5><a href="">{{ article.title }}</a></h5>
                    <div class="article-desc">
                        <!--头像渲染-->
                        <span class="media-left">
                            <a href=""><img width="46" height="46" src="media/{{ article.user.avatar }}" alt=""></a>
                        </span>
                        <!--摘要渲染-->
                        <span class="media-right">
                            {{ article.desc }}
                        </span>
                        <!--内容渲染-->
                        <span>
                            {{ article.content }}
                        </span>
                    </div>
                    <!-- 每个文章底部的标签，时间，评论，姓名等 -->
                    <div class="small pub_info">
                        <span><a href="">{{article.user.username}}</a></span> &nbsp;
                        <span>发布于:&nbsp;{{article.create_time|date:"Y-m-d H:i:s"}}</span>&nbsp;
                        <span class="glyphicon glyphicon-comment"></span>评论({{ article.comment_count }})&nbsp;
                        <span class="glyphicon glyphicon-thumbs-up"></span>点赞({{ article.up_count }})
                    </div>
                </div>
                <hr>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-3">
            <!--右侧主面板-->
            <div class="panel panel-primary">
                <div class="panel-heading">Panel heading without title</div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
            <!--右侧默认面板-->
            <div class="panel panel-default">
                <div class="panel-heading">Panel heading without title</div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>

        </div>
    </div>

</div>
</body>
</html>